* {
    padding: 0px;
    margin: 0px;
}

.full-website {
    text-align: center;
    color: black;
    width: 1024px;
    margin: 20px auto;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}
.menu{
    background-color: rgb(12, 133, 93);
    margin-top: -18px;
    text-shadow: 1px 1px rgb(255, 19, 19);
    color: rgb(76, 20, 129);
}
.container{
    background-color: rgb(129, 173, 209);
    padding: 25px;
}
.footer{
    background-color: rgb(62, 120, 187);
    font-size: 10px;
    text-shadow: 1px 1px rgb(155, 146, 146);
}
.footer-bottom{
    background-color: rgb(36, 7, 56);
    font-size: 13px;
    color: rgb(7, 138, 7);
}
img{
    max-width: 100%;
    margin-bottom: -3px;
}
h2{
    text-decoration: underline;
    color: rgb(17, 110, 17);
}
p{
    font-size: 18px;
}
body{
    background-color: #d6d4d4;
}